
$primary-color: #432010;

@mixin main-text {
  font-size: 3rem;
  padding-bottom: 1.5rem;
  font-weight: bold;
  color: $primary-color;
}
.section{
    padding: 5rem;
    background-color: #FFF9F1;
  
.cart-main-text{
    @include main-text
}
.cart-price-total{
  font-size: 1.5rem;
  font-weight: bold;
  color: $primary-color;
  // padding-top: 1.5rem;
}
.cart-price-text{
  display: flex;
  flex-direction: row ;
  justify-content: space-between;
}
.products {
    gap: 4rem;
    li{
        list-style: none;
    }
    .product-image {
      border-radius: 15px 15px 0 0;
      width: 100px;
      height: auto;
      object-fit: contain;
      box-shadow: 4px 0px 4px 0px rgba(0, 0, 0, 0.1);
      padding: 0;
      margin: 0;
    }
    .product-details {
      width: 70%;
     display: flex;
     flex-direction: row;
     align-items: center;
     text-align: center;
     justify-content: space-between;
     border-radius: 20px;
     box-shadow: 0px 0px 10px 0px rgba(186, 172, 172, 0.75); 
      
      margin-bottom: 2rem;
      padding: 1rem;
      background-color: #FFF;
      gap: 4rem;
    }
    .coffee-name{
      font-weight: bold;
    }
    .coffee-content{
      margin: 0.5rem 0;
    }

  } 
}