<app-navbar [style.background-color]="'#000'"></app-navbar>
<section class="section">
    <p class="cart-main-text">Carts</p>
    <div class="products">
        <li *ngFor="let cart of allCartProducts" >
            <div>
                <img src={{cart.coffeeImage}} alt="coffee-image" class="product-image">
                <div class="product-details">
                    <p class="coffee-name">{{cart.coffeeName}}</p>
                    <p class="coffee-content">{{cart.coffeeContent}}</p>
                    <p>{{cart.coffeePrice | currency}}</p>
                    <small-button [buttonText]="'Remove from cart'" (click)="removeFromCart(cart.id)"></small-button>
                    <p>{{cart.id}}</p>
               </div>
            </div>
        </li>
    </div>
    <div>
        Total Cart Price: {{ totalCartPrice | currency }}
      </div>
</section>