<app-topbar [style.background-color]="'#000'"></app-topbar>
<section class="sec">
    <div class="flex-btw">
        <div>
            <p class="main-text">Discover the Art  
              of Perfect Coffee.
            </p>
            <p class="sub-text">Experience the difference as we meticulously select and roast the finest beans to create a truly unforgettable cup of coffee. Join us on a journey of taste and awaken your senses, one sip at a time.</p>
            <p class="sub-main-text">Fun Fact! <br/> You can create your personalized order!</p>
            <secondary-button [buttonText]="'Curate your order'"></secondary-button>
        </div>
        <div>
            <img src="../../assets/coffee-landing.png" alt="" class="coffee-image">
        </div>
    </div>
    <!-- Products section -->
    <div class="productSection">
        <img src="../../assets/coffee-seeds.png" alt="" class="coffee-seeds">
        <div class="coffee-div">
            <p class="enjoy-coffee">eNJOY a new blend of Coffee style</p>
        <p>Explore all flavours of coffee with us. <br>
            There is always a new cup worth experiencing</p>
        </div>
    </div>
    <div class="filter">
        <p>Filters:</p>
        <outlined-button [buttonText]="'Cappucino'" (click)="filter= 'Cappucino'"></outlined-button>
        <outlined-button [buttonText]="'Latte'" (click)="filter= 'Latte'"></outlined-button>
        <outlined-button [buttonText]="'Macchiato'" (click)="filter= 'Macchiato'"></outlined-button>
        <outlined-button [buttonText]="'Espresso'" (click)="filter= 'Espresso'"></outlined-button>
        <outlined-button [buttonText]="'All'" (click)="filter= ''"></outlined-button>
    </div>
    <!-- Cofee Product card -->
    <!-- If there is a coffee product available display it and iterate through the product array -->
    <div class="product-div">
        <div *ngIf="coffeeProducts" class="products">
            <div *ngFor="let coffee of  getfilterProducts()">
                <img src={{coffee.coffeeImage}} alt="coffee-image" class="product-image">
                <div class="product-details">
                    <p class="coffee-name">{{coffee.coffeeName}}</p>
                    <p class="coffee-content">{{coffee.coffeeContent}}</p>
                    <p>{{coffee.coffeePrice}}</p>
                    <small-button [buttonText]="'Order now!'"></small-button>
                </div>
            </div>
        </div>
    </div>

   
</section>
