.sec {
  // padding: 5rem;
  margin: 5rem 0;
  .btn {
    width: 210px;
    height: 34px;
    margin-top: 1rem;
    padding: 8px 16px 8px 16px;
    border-radius: 24px;
    opacity: 0px;
    background-color: #432010;
    color: white;
    font-family: Lato;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: -0.02em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    text-decoration: none;
  }

  .productSection {
    text-align: center;

    .coffee-seeds {
      width: 100%;
      height: auto;
      object-fit: contain;
    }

    .coffee-div {
      padding-top: 5rem;
    }

    .enjoy-coffee {
      font-size: 40px;
      text-transform: uppercase;
      color: #432010;
      padding: 1rem 0;
    }
  }
  .filter{
    margin: 0rem 7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: normal;
    padding: 2rem 0;
  }
 

  .product-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .fakedb{
      margin-top: 3rem;
      font-size: 2rem;
    }

   
    .products {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 4rem;
      margin-top: 2rem;
     
     

      .product-image {
        border-radius: 15px 15px 0 0;
        width: 240px;
        height: auto;
        object-fit: contain;
        box-shadow: 4px 0px 4px 0px rgba(0, 0, 0, 0.1);
        padding: 0;
        margin: 0;
      }

      .product-details {
        background-color: #FFF9F1;
        text-align: center;
        margin: 0;
        padding: 1rem;
      }
      .coffee-name{
        font-weight: bold;
        
      }
      .coffee-content{
        margin: 0.5rem 0;
      }

    }
  }


  .flex-btw {
    padding: 0 5rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Playfair Display", serif;
    color: #432010;

    .main-text {
      font-size: 2rem;
      margin-bottom: 2rem;
      font-weight: bold;
    }

    .sub-main-text {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 2rem;
    }

    .sub-text {
      font-size: 1.2rem;
      margin-bottom: 2rem;
    }
    .coffee-image-new{
      width: 100%;
      max-width: 550px;
      height: auto;
    }

    .coffee-image {
      width: 40rem;
      height: auto;
    }
  }
  .modal{
    backdrop-filter: blur(3px)!important;
    background-color: rgba(0, 0, 0, 0.1);
  }
  // Define variables for reusable colors
$primary-color: #432010;
$primary-color-dark: #0056b3;
$input-border-color: #ccc;

// Define mixin for input styling
@mixin input-styles {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid $input-border-color;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;

  &:focus {
    outline: none;
    border-color: $primary-color;
    box-shadow: 0 0 5px rgba($primary-color, 0.5);
  }
}

// Apply styles to form and its children
form {
  display: flex;
  flex-direction: column;
  align-items: center;

  // Apply styles to input fields
  input[type="text"],
  input[type="number"] {
    @include input-styles;
  }

  // Apply styles to submit button
  button[type="submit"] {
    background-color: $primary-color;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $primary-color;
    }
  }
}
@media (max-width: 1000px) {
  .sec{
    margin: 3.5rem 0;
    .enjoy-coffee {
      font-size: 25px;
      text-transform: uppercase;
      color: #432010;
      padding: 1rem 0;
    }
    .products {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 4rem;
      margin-top: 2rem;
    }
  }
}
@media (max-width: 700px) {
  .sec{
    margin: 2rem 0;
    .enjoy-coffee {
      font-size: 20px;
      padding: 1rem 0;
    }
    .products {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
      margin-top: 1rem;
    }
  }
}
.flex-btw {
  padding: 0 5rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Playfair Display", serif;
  color: #432010;

  .main-text {
    font-size: 2rem;
    margin-bottom: 2rem;
    font-weight: bold;
  }

  .sub-main-text {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }

  .sub-text {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }

  .coffee-image {
    width: 20rem;
    height: auto;
  }
}
@media (max-width: 950px) {
  
  .products {
    display: grid;
    grid-template-columns: repeat(3, 1fr) !important;
    gap: 4rem;
    margin-top: 2rem;
  }
}
@media (max-width: 850px) {
  .filter{
    margin: 0rem 0rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
  }
  .filter p{
    display: none;
  }
  .coffee-image{
    display: none;
  }
  
  .products {
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 1rem;
    margin-top: 2rem;
  }
  .product-image {
    width: 12rem !important;
    height: auto;
  }
}
}
