<app-navbar [style.background-color]="'#000'"></app-navbar>
<section class="sec">
  <div class="flex-btw">
    <div>
      <p class="main-text">Discover the Art
        of Perfect Coffee.
      </p>
      <p class="sub-text">Experience the difference as we meticulously
        select and roast <br> the finest beans to create a truly
        unforgettable cup of coffee. <br> Join us on a journey of taste and
        awaken your senses, one sip at a time.</p>
      <p class="sub-main-text">Fun Fact! <br /> You can create your
        personalized order!</p>
      <secondary-button [buttonText]="'Curate your order'" (click)="openPopup()"></secondary-button>
    </div>
    <div>
      <img src="../../assets/coffee-landing.png" alt class="coffee-image">
    </div>
  </div>


  <!-- Coffee Products from the database -->
  <div class="product-div">
    <p class="fakedb">Coffee Products</p>
    <p class="sub-text">Great ideas start with great coffee, Lets help you achieve that!!</p>
    <secondary-button [buttonText]="'Add coffee'" (click)="openPopup()"></secondary-button>
    <div class="products">
      <div *ngFor="let coffee of  allCoffee">
        <img src='../../assets/coffee-a.png' alt="coffee-image" class="product-image">
        <div class="product-details">
          <p class="coffee-name">{{coffee.name}}</p>
          <p class="coffee-content">{{coffee.description}}</p>
          <p>₦{{coffee.price}}</p>
          <div>
            <small-button [buttonText]="'Edit'" (click)="openEditPopup(coffee)"></small-button>
            <delete-button [buttonText]="'Delete'" (click)="openDeleteModal()"></delete-button>
            <!-- <outlined-button [buttonText]="'Add to cart'" (click)="addToCart(coffee._id, 1)"></outlined-button> -->
            <!-- <small-button [buttonText]="'Add To Cart'" (click)="addToCart(coffee.id)" ></small-button> -->
          </div>
          <button class="btns">
            <img src="./../assets/Icon.png" alt="icon" class="cart-icon" (click)="addToCart(coffee._id, 1)">
            Add to cart
        </button>
          <!-- <secondary-button [buttonText]="'Add coffee'" (click)="openPopup()"></secondary-button> -->

        </div>
        <div class="modal" #deleteModal tabindex="-1" role="dialog" [ngStyle]="{'display': displayDeleteModal}"
          aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <div class="">
                  <p class="text-danger">Are you sure you want to delete this coffee</p>
                  <button type="button" class="btn btn-danger" (click)="closeDeleteModal()">Close</button>
                  <delete-button [buttonText]="'Delete'" (click)="deleteSelectedCoffee(coffee._id)"></delete-button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Add Coffee Modal -->
  <div class="modal" #createModal tabindex="-1" role="dialog" [ngStyle]="{'display': displayCreateModal}"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Tell us how you want your coffee!</h4>
        </div>
        <div class="modal-body">
          <div class="add-coffee-form">
            <p>Add New Coffee Order</p>
            <form [formGroup]="addCoffeeForm" (ngSubmit)="AddCoffee()">
              <input type="text" formControlName="name" placeholder="Coffee Name" required>
              <input type="text" formControlName="description" placeholder="Coffee Content" required>
              <input type="number" formControlName="price" placeholder="Coffee Price" required>
              <button type="submit" class="submit-button" [disabled]="addCoffeeForm.invalid">Add Coffee</button>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="closePopup()">Close</button>

        </div>
      </div>
    </div>
  </div>
  <div>
    <!-- Edit Coffee Modal -->
    <div class="modal" #editModal tabindex="-1" role="dialog" [ngStyle]="{'display': displayEditModal}"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Change your order!</h4>
          </div>
          <div class="modal-body">
            <div class="add-coffee-form">
              <p>Edit Coffee Order</p>
              <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
                <div>
                  <label>Name:</label>
                  <input type="text" formControlName="name">
                </div>
                <div>
                  <label>Price:</label>
                  <input type="number" formControlName="price">
                </div>
                <div>
                  <label>Content:</label>
                  <input type="text" formControlName="description">
                </div>
                <button type="submit">Save Changes</button>
              </form>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="closeEditPopup()">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
