<section class="home-page">
    <section><app-topbar></app-topbar></section>
    <section class="home-page-sub">
        <div>
            <p class="coffee-welcome-text">We’ve got your morning covered with</p>
            <p class="coffee-text typewriter">Coffee.</p>
            <p class="coffee-text-sub">It is best to start your day with a cup of coffee. Discover the <br>
                best flavours coffee you will ever have. We provide the best <br>
                for our customers.
            </p>
            <app-primary-button [buttonText]="'Order Now'"></app-primary-button>
        </div>
    </section>
</section>
