.main {
  $primary-color: #432010;
  $primary-color-dark: #0056b3;
  $input-border-color: #ccc;

  @mixin input-styles {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid $input-border-color;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
  }
  @mixin flex-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .home-page{
    background-image: url("../../assets/coffee_image.png");
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .home-page-sub {
      padding: 2rem;
      color: white;
    }

    .coffee-welcome-text {
      font-size: 22px;
    }

    .coffee-text-sub {
      font-size: 20px;
      padding-bottom: 0.5rem;
    }

    .coffee-text {
      font-size: 14rem;
      font-family: "Clicker Script", cursive;
    }

    .typewriter {
      overflow: hidden;
      white-space: nowrap;
      animation:
        typing 4s steps(50, end),
        blink-caret .9s step-end infinite;

      @keyframes typing {
        from {
          width: 0
        }

        to {
          width: 100%
        }
      }

      @keyframes blink-caret {

        from,
        to {
          border-color: transparent
        }

        50% {
          border-color: white
        }
      }
    }
  }
  .section{
    margin: 3rem;
  }
  .discover-section{
    @include flex-between;
    .discover-text-main{
        font-size: 3rem;
        padding-bottom: 1.5rem;
        font-weight: bold;
        color: #603809;
    }
    .discover-text-sub{
        font-size: 22px;
        padding-bottom: 1.5rem;
        line-height: 34px;
    }
  }
}



//   /* Responsive Styling */
//   @media (max-width: 1000px) {
//     .home-page-sub {
//       padding: 2.5rem;

//       .coffee-welcome-text {
//         font-size: 18px;
//       }

//       .coffee-text-sub {
//         font-size: 18px;
//         padding-bottom: 1.5rem;
//       }

//       .coffee-text {
//         font-size: 10rem;
//       }
//     }


//   }

//   @media (max-width: 768px) {
//     .home-page-sub {
//       padding: 2rem;

//       .coffee-welcome-text {
//         font-size: 18px;
//       }

//       .coffee-text-sub {
//         font-size: 18px;
//         padding-bottom: 1.5rem;
//       }

//       .coffee-text {
//         font-size: 8rem;
//       }
//     }

//   }

//   @media (max-width: 576px) {
//     .home-page-sub {
//       padding: 1rem;

//       .coffee-welcome-text {
//         font-size: 12px;
//       }

//       .coffee-text-sub {
//         font-size: 12px;
//         padding-bottom: 1rem;
//       }

//       .coffee-text {
//         font-size: 5rem;
//       }
//     }
// }
